:root {
    --text-color: #3d2514;
}

#wrapper {
    overflow: hidden;
    max-width: 1440px;
    margin: 0 auto;
}

#header {
    display: flex;
    flex-direction: column;
    height: 825px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 50px 50px 75px 50px;
}

.header-top {
    display: flex;
    justify-content: space-between;
}

.header-top .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fa-times {
    transform: rotate(180deg);
}

.header-top .logo a {
    display: block;
}

.header-top__contacts {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-top__contacts i {
    font-size: 3.6rem;
    margin-right: 0.8rem;
}

.header-top__contacts p {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: 'Montserrat';
    color: var(--text-color);
}

.header-top .logo #menu {
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

.header-top__menu {
    margin-top: 25px;
    z-index: 999;
}

.header-top__menu.menu-toggle {
    right: 0;
}

.header-top__menu li {
    display: inline-block;
    margin-right: 48px;
}

.header-top__menu li:last-child {
    margin-right: 0;
}

.header-top__menu li a {
    font-size: 2rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 4px;
    transition: 0.3s ease-out;
}

.header-top__menu li a:hover {
    color: #fff;
}


/*-header botom-*/

.header-bottom {
    display: flex;
    flex: 1;
    justify-content: flex-start;
}

.header-bottom__content {
    width: 50%;
    margin-top: 168px;
}

.header-bottom__images {
    width: 50%;
}

.header-bottom__content p {
    display: inline-block;
    padding: 1rem 1.5rem;
    font-size: 2.3rem;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color);
    letter-spacing: 2px;
    border: 2px dashed #333;
}

.header-bottom__content h1,
.header-bottom__content h2 {
    margin-top: 20px;
    font-weight: 100;
    font-family: AlfaSlabOne;
    text-transform: uppercase;
    color: var(--text-color);
    text-shadow: 4px 4px 2px #fee8bc;
}

.header-bottom__content h1 {
    font-size: 11.3rem;
    line-height: 11.3rem;
}

.header-bottom__content h2 {
    font-size: 5.6rem;
    line-height: 5.6rem;
}

.header-bottom__images {
    position: relative;
    margin-right: 90px;
}

.header-bottom__price {
    position: absolute;
    left: 10.8rem;
    bottom: 0;
    width: 17.5rem;
    height: 17.5rem;
    background-color: #bf2222;
    border-radius: 100%;
    padding: 10px;
    z-index: 20;
}

.header-bottom__price-content {
    width: 100%;
    height: 100%;
    border: 2px dashed #fff;
    border-radius: 100%;
    text-align: center;
}

.header-bottom__price-content {
    width: 100%;
    height: 100%;
    border: 2px dashed #fff;
    border-radius: 100%;
    padding: 23px 30px 30px 30px;
}

.header-bottom__price-content span {
    font-family: 'BebasNeu';
    color: #ffffff;
    font-size: 4rem;
}

.header-bottom__price-content span b {
    font-size: 5rem;
}

.header-bottom__price-content-only {
    text-transform: uppercase;
    letter-spacing: 1.1rem;
}

.header-bottom__images-sticky {
    position: absolute;
    bottom: 13.3rem;
    left: 9.2rem;
    z-index: 1;
}

.header-bottom__images-burger {
    position: absolute;
    bottom: 43px;
    left: 22.3rem;
    z-index: 5;
}

.header-bottom__images-drink {
    position: absolute;
    bottom: 58px;
    left: 546px;
    z-index: 1;
}

.header-bottom__images-shadow1 {
    position: absolute;
    bottom: 5px;
    left: 230px;
    z-index: 5;
}

.header-bottom__images-shadow2 {
    position: absolute;
    bottom: 25px;
    left: 450px;
    z-index: 5;
}


/*--banner--*/

.banner {
    padding: 78px 96px 69px 108px;
    background: #ffffff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 3.5rem 4rem;
}

.banner__single-item:first-child {
    grid-column: 1/2;
    grid-row: 1/3;
}

.banner__single-item:nth-child(2) {
    grid-column: 2/3;
    grid-row: 1/2;
}

.banner__single-item:last-child {
    grid-column: 2/3;
    grid-row: 2/3;
}

.banner__single-item img {
    width: 100%;
}


/*--products-*/

.products {
    background: #ffffff;
}

.products__desc {
    text-align: center;
    padding: 0px 190px;
}

.products__desc h4 {
    display: inline-block;
    padding: 1.5rem 2rem;
    background: #ffc045;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'BebasNeu';
    color: var(--text-color);
}

.products__desc h2 {
    margin-top: 38px;
    margin-bottom: 30px;
    font-size: 5rem;
    text-transform: uppercase;
    font-family: 'AlfaSlabOne';
    color: var(--text-color);
    line-height: 5rem;
    font-weight: 100;
}

.products__desc p {
    font-size: 1.6rem;
    text-transform: initial;
    font-family: 'Montserrat';
    color: var(--text-color);
    line-height: 2.2rem;
    font-weight: 400;
}

.products__list {
    margin-top: 6.8rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.products__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5rem;
    width: calc(100% / 3);
    text-align: center;
}

.products__item:first-child,
.products__item:last-child {
    padding-top: 35px;
}

.products__item img {
    flex-shrink: 0;
}

.products__item .shadow {
    position: absolute;
    bottom: 39%;
    left: 90px;
}

.products__item-content {
    margin-top: auto;
    text-align: center;
    padding: 0 20px;
    padding-top: 20px;
}

.products__item-content h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-family: 'BebasNeu';
    color: var(--text-color);
    line-height: 3.7rem;
}

.products__item-content p {
    font-size: 1.6rem;
    text-transform: initial;
    font-family: 'Montserrat';
    color: var(--text-color);
    line-height: 2.2rem;
    font-weight: 400;
}

.btn {
    cursor: pointer;
    display: inline-block;
    background: #bf2222;
    text-align: center;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background: #3d2514;
}

.order-btn {
    margin-top: 35px;
    font-family: 'AlfaSlabOne';
    min-width: 195px;
    padding: 20px 35px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}


/*--discovery--*/

.discovery {
    display: flex;
    margin-top: 12.5rem;
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-left: 78px;
    margin-right: 68px;
    padding: 25px 25px 25px 55px;
}

.discovery__content {
    padding-right: 44px;
}

.discovery__content>span {
    display: inline-block;
    margin-top: 3.5rem;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-family: 'BebasNeu';
    color: var(--text-color);
}

.discovery__content h2 {
    margin-top: 1rem;
    text-transform: uppercase;
    font-size: 4.1rem;
    font-family: 'AlfaSlabOne';
    color: var(--text-color);
    font-weight: 100;
    line-height: 4.1rem;
}

.discovery__content p {
    margin-top: 4.5rem;
    text-transform: initial;
    font-size: 2rem;
    font-family: 'Montserrat';
    color: var(--text-color);
    font-weight: 400;
}

.discovery__content .dots {
    margin-top: 90px;
    display: flex;
    align-items: center;
}

.discovery__content .dots .dot {
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #dcdcdc;
    margin-right: 8px;
}

.discovery__content .dots .dot:first-child {
    background: #ffc045;
}


/*--booking table--*/

.booking-table {
    position: relative;
    padding: 130px 328px 178px 328px;
    text-align: center;
}

.booking-table span {
    display: inline-block;
    text-transform: uppercase;
    font-size: 2.9rem;
    font-family: 'BebasNeu';
    color: var(--text-color);
}

.booking-table h2 {
    margin-top: 2.5rem;
    text-transform: uppercase;
    font-size: 5rem;
    font-family: 'AlfaSlabOne';
    color: var(--text-color);
    font-weight: 100;
    line-height: 5rem;
}

.booking-form {
    margin-top: 90px;
}

.booking-form__group {
    margin-left: -25px;
    margin-right: -25px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.booking-form__group input {
    width: 377px;
    height: 63px;
    margin-right: 25px;
    margin-bottom: 25px;
    border: 1px solid #bebebe;
    border-radius: 3px;
    padding: 25px 22px;
    font-size: 2rem;
    font-weight: 500;
    font-family: 'BebasNeu';
    text-transform: initial;
}

.booking-form__group .find-table-btn {
    width: 377px;
    height: 62px;
    border-radius: 3px;
    font-size: 2.1rem;
    color: #ffffff;
    font-family: 'AlfaSlabOne';
    text-transform: uppercase;
}

.booking-image1 {
    position: absolute;
    top: 72px;
    left: -19px;
}

.booking-image2 {
    position: absolute;
    bottom: 189px;
    left: 137px;
}

.booking-image3 {
    position: absolute;
    right: -140px;
    bottom: 30px;
}


/*--footer--*/

#footer {
    padding: 0 55px 65px 55px;
}

.footer__content {
    background-image: url(../images/3606214.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 525px;
    display: flex;
}

.footer__left {
    width: 50%;
    padding-right: 105px;
    padding-top: 83px;
    padding-left: 43px;
}

.footer__logo a {
    font-size: 3.5rem;
    color: #fff;
}

.footer__logo a i {
    font-size: 4.5rem;
    color: #fff;
    padding-right: 35px;
}

.footer__desc {
    margin-top: 45px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 1.6rem;
    line-height: 2.6rem;
}

.footer__copyright {
    margin-top: 170px;
    color: #fff;
    font-family: 'BebasNeu';
    font-size: 1.6rem;
    text-transform: uppercase;
}

.footer__right {
    width: 50%;
    padding-left: 235px;
    padding-top: 235px;
}

.footer__right-location,
.footer__right-mail {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    color: #fff;
    font-family: 'BebasNeu';
    font-size: 2.1rem;
    text-transform: uppercase;
}

.footer__right-location ion-icon,
.footer__right-mail ion-icon {
    font-size: 3rem;
    margin-right: 32px;
}

.footer__right ul {
    margin-top: 139px;
    margin-right: 30px;
}

.footer__right ul li {
    float: right;
    display: inline-block;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
}

.footer__right ul li a {
    font-size: 2rem;
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #fff;
    color: black;
    text-align: center;
    line-height: 37px;
}

.footer__right ul li a:hover {
    border: 1px solid #fff;
    background: #333;
    color: #fff;
}